.card {
    width: 323px;
    height: 328px;
    position: relative;
    display: flex;
    justify-content: center;
}

.card__name {
    position: absolute;
    top: 15px;
    margin: 0;
    font-family: "Cabinet Grotesk-Medium";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 20px;
    border: 1px; 
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    padding: 2px 12px;
    background-color: white;
}

.card__image {
   width: 100%;
   border-radius: 20px;
} 

.card__like-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  transition: color 0.2s;
}
.card__like-button_liked {
  color: #f24c4c;
}
