.footer {
  width: 1360px;
  display: flex;
  justify-content: space-between;
}

.footer__font {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
}
